h1,p{
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
}

.navbar {
  background: transparent;
  box-shadow: none; /* remove shadow */
}

.nav-link{
   font-family:'Montserrat',sans-serif ;
}

button:hover{
  box-shadow: 0 4px 8px 0 rgba(250, 225, 0, 0.629);
}


.section-1 {
  background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)), url('/Assets/Homepage.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 95vh;
}

.navbar {
  background: transparent;
  box-shadow: none; /* remove shadow */
}

.hero-text{
  margin-top: 150rem;
}

.section {
      background: white;
      color: black;
      padding: 5rem 2rem;
      position: relative;
      z-index: 3;
    }

#button{
  display: flex;
  margin-top: 1rem;
  align-items: start;
  color: #F2A900;
}


.process-flow {
  
  display: flex;
  margin-top: 7rem;
  position: relative;
  padding: 60px 20px 20px;
  border-top: 3px solid #000000; 
}

.step {
  text-align: center;
  flex: 2;
  position: relative;
}

.icon {
  position: relative;
  top: -7rem; 
  background-color: #ffc107;
  border-radius: 50%;
  padding: 20px;
  display: inline-block;
  z-index: 1;
}

.icon:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(255, 232, 58, 0.9);
}

.icon img {
  width: 50px;
  height: 50px;
}

.step p {
  position: relative;
  top: -5rem; 
  font-weight: bold;
  font-size: 20px;
  color: #333;
}




/* About Section */

.about{
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url(/Assets/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
   min-height: 60vh; 
   background-size: cover;
   color: black;
}

.line{
   border: #F2A900;
  height: 4px;
  width: 10rem;
  color: #F2A900;
  background-color: orange;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.flex-center {
   display: grid;
  place-items: center;
}

.flip-card {
  perspective: 1000px;
  aspect-ratio: 3 / 4; /* keeps consistent height */
  position: relative;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  inset: 0; /* top:0, right:0, bottom:0, left:0 */
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.8);
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-card-back {
  background:black;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff; 
}

.icons::before {

  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: darkblue; /* color shows through mask */

  -webkit-mask-image: url(/Assets/icon.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;

  mask-image: url(/Assets/icon.png);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.content {
  font-size: 20px;
}

.list-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
 
}

.contact{
    background-image: url(/Assets/contact.webp);
  background-position: center;
  background-repeat: no-repeat;
   min-height: 80vh; 
   background-size: cover;
   color: black;
}
